html, body {
    margin: 0;     /* Remove margins */
    height: 100%;  /* Fill the window */
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}


.container {
    height: 100%;  /* Fill the window */
    display: flex; /* Magic begins */
    flex-direction: column;
}

#topbar{
    
    padding:1em;
    /* overflow: auto; */
}


#map {
    min-height: 0; /* Let the content overflow */
    flex: 1;       /* Fill the available space */
  }

  
.hidden{
    display: none;
}

h3{
    margin:unset;
    margin-bottom:0.5em;
}
